::v-deep(.editor-toolbar) {
    border-color: rgba(0, 0, 0, 0);

    .editor-toolbar-content {
        justify-content: start;
    }
}

::v-deep(.editor-title) {
    .t-textarea__inner {
        resize: none;
        outline: none;
        border: none;
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 10px;
        box-sizing: border-box;
        line-height: 1.5;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .t-textarea__info_wrapper {
        display: none;
    }
}

::v-deep(.am-engine) {
    :where(h1, h2, h3, h4, h5, h6) {
        margin-top: 24px;
        margin-bottom: 10px;
        font-weight: 600;
    }

    p {
        margin-bottom: 10px;
    }

    details {
        display: block;
    }

    summary {
        display: list-item;
    }

    a {
        background-color: initial;
    }

    a:active,
    a:hover {
        outline-width: 0;
    }

    strong {
        font-weight: inherit;
        font-weight: bolder;
    }

    h1 {
        font-size: 2em;
        margin: 0.67em 0;
    }

    img {
        border-style: none;
    }

    code,
    kbd,
    pre {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    hr {
        box-sizing: initial;
        height: 0;
        overflow: visible;
    }

    input {
        font: inherit;
        margin: 0;
    }

    input {
        overflow: visible;
    }

    [type='checkbox'] {
        box-sizing: border-box;
        padding: 0;
    }

    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #0366d6;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    strong {
        font-weight: 600;
    }

    hr {
        height: 0;
        margin: 15px 0;
        overflow: hidden;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #ddd;
    }

    hr:after,
    hr:before {
        display: table;
        content: '';
    }

    hr:after {
        clear: both;
    }

    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 0;
    }

    details summary {
        cursor: pointer;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        font:
            11px SFMono-Regular,
            Consolas,
            Liberation Mono,
            Menlo,
            monospace;
        line-height: 10px;
        color: #444d56;
        vertical-align: middle;
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 32px;
    }

    h1,
    h2 {
        font-weight: 600;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h3,
    h4 {
        font-weight: 600;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h5,
    h6 {
        font-weight: 600;
    }

    h6 {
        font-size: 12px;
    }

    p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    blockquote {
        margin: 0;
    }

    ol,
    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    ol ol,
    ul ol {
        list-style-type: lower-roman;
    }

    ol ol ol,
    ol ul ol,
    ul ol ol,
    ul ul ol {
        list-style-type: lower-alpha;
    }

    dd {
        margin-left: 0;
    }

    code,
    pre {
        font-family:
            SFMono-Regular,
            Consolas,
            Liberation Mono,
            Menlo,
            monospace;
        font-size: 12px;
    }

    pre {
        margin-top: 0;
        margin-bottom: 0;
    }

    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    :checked + .radio-label {
        position: relative;
        z-index: 1;
        border-color: #0366d6;
    }

    hr {
        border-bottom-color: #eee;
    }

    kbd {
        display: inline-block;
        padding: 3px 5px;
        font:
            11px SFMono-Regular,
            Consolas,
            Liberation Mono,
            Menlo,
            monospace;
        line-height: 10px;
        color: #444d56;
        vertical-align: middle;
        background-color: #fafbfc;
        border: 1px solid #d1d5da;
        border-radius: 3px;
        box-shadow: inset 0 -1px 0 #d1d5da;
    }

    > :first-child {
        margin-top: 0 !important;
    }

    > :last-child {
        margin-bottom: 0 !important;
    }

    a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    blockquote,
    details,
    dl,
    ol,
    p,
    pre,
    table,
    ul {
        margin-top: 0;
        margin-bottom: 16px;
    }

    hr {
        height: 1px;
        padding: 0;
        margin: 24px 0;
        background-color: #e1e4e8;
        border: 0;
    }

    blockquote {
        padding: 0 1em;
        border-left: 0.25em solid #dfe2e5;
    }

    blockquote > :first-child {
        margin-top: 0;
    }

    blockquote > :last-child {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 1.25;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.875em;
    }

    ol,
    ul {
        padding-left: 2em;
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    ul.task-list {
        list-style: none;
    }

    ul.task-list li {
        display: flex;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        word-break: break-all;
    }

    ul.task-list li label {
        display: inline-block;
    }

    ul.task-list li div {
        display: inline-block;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        word-wrap: break-all;
    }

    li > p {
        margin-top: 16px;
    }

    li + li,
    li > ul {
        margin-top: 0.25em;
    }

    ul li.task-list-item {
        position: relative;
        appearance: none;
        list-style: none;
    }

    ul li.task-list-item.checked {
        text-decoration-line: line-through;
    }

    ul li.task-list-item:not(.checked) {
        color: initial;
    }

    ul li.task-list-item::before {
        content: '';
        width: 13px;
        height: 13px;
        background-color: #fff;
        position: absolute;
        left: -28px;
        top: 4px;
        border-radius: 2px;
        border: 2px solid #757575;
    }

    ul li.task-list-item.checked::before {
        background-color: #1976d2;
        border-color: #1976d2;
    }

    ul li.task-list-item.checked::after {
        content: '';
        position: absolute;
        left: -22px;
        top: 5px;
        width: 4px;
        height: 10px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    dl {
        padding: 0;
    }

    dl dt {
        padding: 0;
        margin-top: 16px;
        font-size: 1em;
        font-style: italic;
        font-weight: 600;
    }

    dl dd {
        padding: 0 16px;
        margin-bottom: 16px;
    }

    img {
        max-width: 100%;
        box-sizing: initial;
    }

    p > img {
        display: block;
        margin: 0 auto;
    }

    img[align='right'] {
        padding-left: 20px;
    }

    img[align='left'] {
        padding-right: 20px;
    }

    code {
        padding: 0.2em 0.4em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
    }

    pre {
        word-wrap: normal;
    }

    pre > code {
        padding: 0;
        margin: 0;
        font-size: 100%;
        word-break: normal;
        white-space: pre;
        background: transparent;
        border: 0;
    }

    mark {
        display: inline-flex;
        background-color: #fff8c5;
    }

    .mention {
        background-color: #fff8c5;
        border-radius: 3px;
        padding: 0 4px;
    }

    em {
        font-synthesis: style;
    }
}

.editor-title:empty::before {
    content: attr(data-placeholder);
    color: #ccc;
}
